.blockForDrag{
    width: 90%;
    height: 600px;
    background-image: url('./background.png');
    background-size: cover;
    margin: auto;
}

.elem{
    position: absolute;
    z-index: 10;
    padding: 25px;
    background-color: blue;
    border-radius: 10px;
}

.inputForElem{
    height: 20px;
}

.deleteButtonForElem{
    width: 25px;
    height: 25px;
    background-color: orangered;
    border: none;
    color: white;
    font-weight: 700;
}

.saveButtonForElem{
    width: 25px;
    height: 25px;
    background-color: lightgreen;
    border: none;
    color: black;
    font-weight: 700;
}